<footer class="w-100">
    <div class="mx-auto cssGrid">
        <div class="border-left border-right text-center text-light pt-3 pb-2 px-2">
            <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
            <p class="mt-2">109/8 A. Mikoyan Str. 4th Block of Davitashen, Yerevan, Armenia</p>
        </div>
        <div class="border-right text-center text-light pt-3 pb-2 px-2">
            <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
            <p class="mt-2">example@gmail.com</p>
        </div>
        <div class="text-center text-light pt-3 pb-2 px-2">
            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
            <p class="mt-2">+374 (77) 261133</p>
        </div>
        <div class="px-2 text-center text-light pt-4 socials">
            <i class="fa fa-facebook-official fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-twitter fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-instagram fa-lg mr-2" aria-hidden="true"></i>
            <i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
            <p class="mt-2">
                &copy; 2020 Massage builded by Taron Abgaryan 
            </p>
        </div>
    </div>

</footer>
