<header class="d-none header w-100 bg-dark animated bounceInRight  delay-1.5s " > <!-- header-->
  <ul class="d-flex  justify-content-between">
    <div class="d-flex">
      <li class="mr-5 ml-4 m-2"> <a routerLink=""> <i class="fa fa-instagram header-icons" aria-hidden="true"></i> </a> </li>
      <li class="mr-5 m-2"> <a routerLink=""> <i class="fa fa-facebook header-icons" aria-hidden="true"></i> </a> </li>
      <li class="mr-5 m-2"> <a routerLink=""> <i class="fa fa-twitter header-icons" aria-hidden="true"></i> </a> </li>
    </div>
    
    <div class="pohoneAndMail d-flex">
      <li class="mr-5 m-2 animated infinite flash "> <a routerLink=""> <i class="fa fa-volume-control-phone  header-icons" aria-hidden="true"> <p class="d-inline ml-1 contact"> +374 94448322</p></i> </a> </li>
      <li class="mr-5 m-2 "> <a routerLink=""> <i class="fa fa-envelope-o  header-icons" aria-hidden="true"> <p class="d-inline ml-1 contact"> Taronaabg@mail.ru</p></i> </a> </li>
    </div> 
  </ul>
</header>

<!-- navBar -->
<div class="sticky-top wrapper shadow">
  <nav class="navbar navbar-expand-lg p-0 d-flex justify-content-between">
    <div>
      <a class="navbar-brand logo ml-3 mb-0 p-0 " routerLink="/home"><img src="../../../assets//image/verj.png" alt=""></a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item dropdown ml-3">
          <a class="nav-link dropdown-toggle " routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item " routerLink="#">Action</a>
            <a class="dropdown-item " routerLink="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item " routerLink="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item ml-3">
          <a class="nav-link" routerLink="#">CONTACT</a>
        </li>
        <li class="nav-item ml-3 pt-0">
          <i class="fa fa-phone mr-2" aria-hidden="true"></i>
          <span>
            +(374) 77 261133
          </span>
        </li>
      </ul>
    </div>
  </nav>
</div>

